<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11046090334-ascse69hjnp93bvdiv6skfb6b2uo9skj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11046090334-ascse69hjnp93bvdiv6skfb6b2uo9skj</string>
	<key>API_KEY</key>
	<string>AIzaSyAKGQrwIdOqiW86mzuXUQfO85G4m-mhf8E</string>
	<key>GCM_SENDER_ID</key>
	<string>11046090334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aside.moneyCycle</string>
	<key>PROJECT_ID</key>
	<string>moneycycle-5f900</string>
	<key>STORAGE_BUCKET</key>
	<string>moneycycle-5f900.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11046090334:ios:b87e6583fcd4c8dee3a6cf</string>
</dict>
</plist>